// custom styles goes here
.brand-logo {
    .brand-icon {
      img {
        width: 40px;
        float: left;
      }
    }
    .navbar-version {
      font-size: 0.5em;
      margin-left: 15px;
      opacity: 0.5;
    }
  }
  