// navbar styles
.brand-logo {
  width: 170px;
  font-size: 1.45rem;
  line-height: 1;
  .brand-icon {
    display: inline-block;
    vertical-align: text-bottom;
    img {
      width: 40px;
    }
  }
  .navbar-version {
    font-size: 0.5em;
    margin-left: 15px;
    opacity: 0.5;
  }
}
